{% extends "layout.html" %}

{% block title %}
samir
{% endblock title %}

{% block content %}
<div class="about-section h-[70vh] flex justify-center gap-3 items-center">
  <div class="left mr-6">
    <div class="image-box border-2 border-orange-500">
        <img src="https://media.licdn.com/dms/image/D5603AQGx6wWVXCRAIA/profile-displayphoto-shrink_200_200/0/1715672562649?e=2147483647&v=beta&t=u3bQcEVvGPIsoxMRo1AbIlQnbpM4qIf64PALzu6lahg" alt="">
    </div>
  </div>
  <div class="right">
    <h1 class="text-green-500 text-[3rem] font-bold capitalize">Mrs. Samir Rain</h1>
    <p class="text-[1.5rem] capitalize">i am frontend developer</p>
  </div>
</div>
{% endblock  %}