{% extends "layout.html" %}

{% block title %}
samir
{% endblock title %}

{% block content %}
<div class="contact-section h-[50vh] flex justify-center flex-col items-center">
    <h1 class="text-green-500 text-[5rem] font-bold capitalize">Contact information</h1>
    <div class="info-box">
        <div class="line-box flex gap-6 text-3xl">
            <p>Linkdin:</p>
            <p class="text-right">Samir Rain</p>
        </div>
        <div class="line-box flex gap-6 text-3xl">
            <p>mail:</p>
            <p class="text-right">teamofsamir@gmail.com</p>
        </div>
    </div>
</div>
{% endblock  %}