{% extends "layout.html" %}

{% block title %}
samir
{% endblock title %}

{% block content %}
{% comment %} <h1>hello code with samir</h1> {% endcomment %}
<div class="container flex ">
    {% for data in  newthing %}
<div class="box border-2 border-orange-500 p-5 rounded">
    <img src="{{data.image.url}}" alt="">
    <h2>{{data.name}}</h2>
        <a href="" class=' p-4 text-xl w-full block border-2 bg-red-500'>
            <button >{{data.type}} - {{data.id}} </button>
        </a>
        
</div>
{% endfor %}
</div>
{% endblock  %}

